﻿@model TweetListVM

<div class="jumbotron">
    <h1>Tweeeeeeeeets</h1>
</div>

@Html.AntiForgeryToken()

<div class="tweets_content">
    <div class="search_holder">
        <input type="text" placeholder="Search hashtag(s). i.e cool shirt" value="" id="search_text" /> <input type="button" value="Search" id="search_button" />
    </div>
    <div class="loader">
        <img src="~/Content/images/gears.gif" />
    </div>
    <div class="tweets_holder">
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/jquery.tweetsearch.js"></script>
    <script src="~/Scripts/TweetSample.js"></script>
}