﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Arial;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*==== CUSTOM CSS ====*/

.tweets_content {
    min-height: 160px;
}

.tweets_holder {
    float: left;
    width: 100%;
    min-height: 50px;
    margin-top: 20px;
}


    .tweets_holder .tweet_container {
        float: left;
        clear: both;
        margin-bottom: 20px;
        width: 50%;
    }

        .tweets_holder .tweet_container:nth-child(2n) {
            clear: none;
            padding-left: 20px;
        }

    .tweets_holder .tweet {
        border: 1px solid #808182;
        border-radius: 4px;
        padding: 14px;
        position: relative;
        float: left;
        width: 100%;
        min-height: 250px;
    }




        .tweets_holder .tweet img {
            float: left;
        }

        .tweets_holder .tweet .tweet_header {
            float: left;
            width: 100%;
        }

            .tweets_holder .tweet .tweet_header .name_holder {
                height: 40px;
            }

                .tweets_holder .tweet .tweet_header .name_holder span {
                    color: #A399A6;
                    font-size: .8em;
                    vertical-align: middle;
                    display: block;
                    line-height: 40px;
                    margin-left: 10px;
                    float: left;
                }

        .tweets_holder .tweet .tweet_data:first-of-type {
            clear: right;
        }

        .tweets_holder .tweet .tweet_data {
            float: left;
            clear: both;
            font-size: 1.5em;
        }

        .tweets_holder .tweet .tweet_name {
            color: #77C7F7;
            margin-left: 10px;
            float: left;
        }


        .tweets_holder .tweet .actionable_buttons {
            float: left;
            clear: both;
            position: absolute;
            bottom: 14px;
            left: 14px;
            color: #AAB8C2;
        }

            .tweets_holder .tweet .actionable_buttons .likes {
                margin-left: 30px;
                cursor: pointer;
            }

                .tweets_holder .tweet .actionable_buttons .likes:hover, .tweets_holder .tweet .actionable_buttons .likes.liked {
                    color: #E2264D;
                }

                .tweets_holder .tweet .actionable_buttons .likes::before {
                    font-family: FontAwesome;
                    content: "\f004";
                    margin-right: 6px;
                }

            .tweets_holder .tweet .actionable_buttons .retweets::before {
                font-family: FontAwesome;
                content: "\f079";
                margin-right: 6px;
            }


        .tweets_holder .tweet .tweet_timestamp {
            position: absolute;
            bottom: 0;
            right: 0;
            margin-bottom: 14px;
            margin-right: 14px;
        }

        .tweets_holder .tweet .twittericon {
            float: right;
            position: absolute;
            right: 14px;
            top: 14px;
        }

            .tweets_holder .tweet .twittericon::before {
                font-family: FontAwesome;
                content: "\f099";
                color: #1DA1F2;
            }

.loader {
    display: none;
}

    .loader img {
        width: 120px;
        margin: 0 auto;
        display: block;
    }


.search_holder input[type=text] {
    width: 20%;
}

.field-validation-error {
    color: darkred;
}

.pagination {
    clear: both;
    float: right;
}

    .pagination .page_numbers {
        display: inline;
        float: left;
        height: 30px;
    }

    .pagination ul {
        list-style-type: none;
        float: left;
        display: inline;
        padding-left: 0;
        margin-bottom: 0;
        height: 30px;
        line-height: 30px;
    }

        .pagination ul li {
            float: left;
            padding-left: 10px;
        }

            .pagination ul li a {
                border: 1px solid #1DA1F2;
                padding: 1px 4px;
                text-decoration: none;
            }

            .pagination ul li:hover a {
                color: #fff;
                background-color: #1DA1F2;
            }

    .pagination .page_numbers input {
        width: 25px;
    }

.message {
    background-color: #FFAAAA;
    color: darkred;
    padding: 10px 30px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.40);
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

    .message::before {
        font-family: FontAwesome;
        content: "\f06a";
        padding-right: 10px;
        color: darkred;
    }
