﻿@model TweetListVM

@Html.ValidationMessage("Query")
@Html.ValidationMessage("Authorized")

@if (Model.TweetCount > 0)
{
    foreach (var tweet in Model.Tweets)
    {<div class="tweet_container">
        <div class="tweet" data-id="@tweet.ID">
            <span class="twittericon"></span>
            <div class="tweet_header">
                <img src="@tweet.Author.ProfilePicUrl" />
                <div class="name_holder">
                    <h4 class="tweet_name">
                        @tweet.Author.Name
                    </h4>
                    <span>@@@tweet.Author.ScreenName</span>
                </div>

            </div>
            <span class="tweet_data">
                @tweet.TweetContent
            </span>
            <div class="actionable_buttons">
                <span class="retweets" title="Not implemented :(">
                    @tweet.RetweetCount
                </span>
                <span class="likes">
                    @tweet.LikeCount
                </span>
            </div>
            <span class="tweet_timestamp">
                @tweet.Timestamp
            </span>

        </div>
    </div>}
    <div class="pagination" data-current-page="@Model.CurrentPage">
        <div class="page_numbers">
            <strong>
                Page:
                <input type="text" size="2" id="page_nav_text" placeholder="@Model.CurrentPage" /> of @Model.Pages |
            </strong>
        </div>
        <ul>
            <li class="@(Model.CurrentPage == 1 ? "hide" : "")"><a href="#" data-page="@(Model.CurrentPage-1)" class="page_link">Previous</a></li>
            <li class="@(Model.CurrentPage == Model.Pages ? "hide" : "")"><a href="#" data-page="@(Model.CurrentPage+1)" class="page_link">Next</a></li>
        </ul>
    </div>
}
else
{
    <strong>There are no popular tweets for the hash tag(s) provided.</strong>
}


